:root {
  --def-color: hsl(0, 0%, 75%);

  --bg-color-raw: 0, 0%, 10%;
  --bg-color: hsl(var(--bg-color-raw));

  --color-raw: 0, 0%, 100%;
  --color: hsl(var(--color-raw));
}

.light {
  --def-color: hsl(0, 0%, 25%);

  --bg-color-raw: 0, 0%, 100%;
  --bg-color: hsl(var(--bg-color-raw));

  --color-raw: 0, 0%, 10%;
  --color: hsl(var(--color-raw));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}

button {
  cursor: pointer;
}
