:root {
  --def-color: hsl(0, 0%, 75%);

  --bg-color-raw: 0, 0%, 10%;
  --bg-color: hsl(var(--bg-color-raw));

  --color-raw: 0, 0%, 100%;
  --color: hsl(var(--color-raw));

  /* Firefox */
  scrollbar-color: hsla(0, 0%, 100%, 0.2) hsla(0, 0%, 100%, 0.1);
  scrollbar-width: thin;
}

.light {
  --def-color: hsl(0, 0%, 25%);

  --bg-color-raw: 0, 0%, 100%;
  --bg-color: hsl(var(--bg-color-raw));

  --color-raw: 0, 0%, 10%;
  --color: hsl(var(--color-raw));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}
/* Chrome */
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: hsla(var(--color-raw), 0.1);
}
body::-webkit-scrollbar-thumb {
  background-color: hsla(var(--color-raw), 0.2);
}

button {
  cursor: pointer;
}

.tiny-scrollbar {
  overflow-y: auto;
  scrollbar-color: hsla(var(--color-raw), 0.2) hsla(var(--color-raw), 0.1);
  scrollbar-width: thin;
}
.tiny-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.tiny-scrollbar::-webkit-scrollbar-track {
  background-color: hsla(var(--color-raw), 0.1);
}
.tiny-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsla(var(--color-raw), 0.2);
}
