
:root {
  --def-color: hsl(0, 0%, 75%);
  --bg-color: hsl(0, 0%, 10%);
  --color: hsl(0, 0%, 100%);
}

.light {
  --def-color: hsl(0, 0%, 25%);
  --bg-color: hsl(0, 0%, 100%);
  --color: hsl(0, 0%, 10%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}

button {
  cursor: pointer;
}

/* WORD & DEFINITIONS */

#app {
  margin: 100px auto 50px;
  padding: 0 15px;
  max-width: 800px;
}

.title {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}

.word {
  margin: 0;
  font-size: 4rem;
  text-transform: capitalize;
}

.phonetic {
  display: flex;
  align-items: center;

  font-size: 1.25rem;
}
.phonetic__text {
  margin-right: 5px;
}
.phonetic__listen-btn {
  visibility: hidden;
  background-color: transparent;
  border: none;
  color: var(--color);
}

.meaning:not(:last-of-type) {
  margin-bottom: 2rem;
}

.meaning__pts {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 90%);
  text-transform: capitalize;
}

.meaning__def {
  margin-bottom: 5px;
  font-size: 1rem;
  color: var(--def-color);
}

.meaning__example {
  margin: 0;
  color: hsl(0, 0%, 55%);
}

.meaning__def::first-letter,
.meaning__example::first-letter {
  text-transform: uppercase;
}

/* THEME */

.theme-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background: none;
}


/* ERROR HANDLING */

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Hidden by default */
  width: 100%;
  padding: 0 15px;
  text-align: center;
  font-size: 1rem;
}

.error__title {
  margin: 0 0 10px;
}

.error__subtitle {
  margin-bottom: 30px;
}

.error__retry-btn {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background-color: var(--color);
  color: var(--bg-color);
  font-size: 1rem;
}